# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.csv

# Virtual env
venv/
.env/

# Mac
.DS_Store

# Airflow
airflow/logs/
airflow/airflow.db

# dbt
target/
dbt_packages/
logs/
dbt-env/

# PostgreSQL (if using volume)
postgres_data/

# Docker
*.log

# IDE
.vscode/
.idea/

# Secrets
.env
*.env
profiles.yml